@import "~antd/dist/antd.css";

.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.ant-spin-container {
  width: 80rem;
  border: 2px solid;
  margin-top: 2rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
}

.ant-pagination {
  width: 78.8rem;
}

.ant-btn-table{
  width: 10rem;
}

.btn-wrapper-table {
  margin-left: 0.6rem;
  margin-top: 0.6rem;
}
