.ant-card { 
  margin-left: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

.ant-btn-card{
  margin-left: 600px;
}

.ant-card-head{
  border: 1px solid;
}

.ant-card-body{
  border: 1px solid;  
}