.ant-card {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 300px;
}

.ant-card-bordered {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
}

.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.ant-btn-card {
  width: 10rem;
}

.btn-wrapper-card {
  margin-left: 0.6rem;
  margin-top: 0.6rem;
}
